{% extends 'base.html' %}
{% block content %}

<h1>Авторизация</h1>

{% if user.is_authenticated %}
Что такое, {{ user.username }}? Вы же уже авторизорваны.
Впрочем, всегда можно <a href="{% url 'auth_logout' %}">выйти</a>.<br/><br/>
{% else %}

{% if form.non_field_errors %}
{{ form.non_field_errors }}
{% endif %}

<form method="post" action="">
    {% csrf_token %}
<dl class="register">
{% for field in form %}
    <dt>{{ field.label_tag }}</dt>
    <dd class="clearfix">{{ field }}
    {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
    {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}
    </dd>
{% endfor %}
</dl>
<input type="submit" value="Вход" class="clearfix">
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>

 <br/><br/>
<ul>
    <li><a href="{% url 'auth_password_reset' %}">Забыли пароль?</a></li>
    <li><a href="{% url 'registration_register' %}">Регистрация</a></li>
</ul>
{% endif %}

{%endblock%}