          {% if not request.user.is_anonymous %}
              <li class="grand_menu">
                  <a href="" class="dropdown-toggle segoe" data-toggle="dropdown">{{account.user}}</a>
                  <ul class="dropdown-menu hover" >
                      <li class="text-center padding-v-2px" id="logout_id" style="background-color:#080808;color:#fff;">
                            <span class="segoe" style="color: white;" onclick="document.location=`{%url 'logout' %}`;">Выйти</span>
                      </li>
                      {% if is_admin%}
                      <li class="text-center padding-v-2px" >
                          <a type="button" href="{{admin.admin_absolute_url}}" class="segoe">
                            <span class="segoe">Админ панель</span>
                          </a>
                      </li>
                      {%endif%}
                      <li class="text-center padding-v-2px" >
                          <a type="button" href="{% url 'my_page' account.id %}" class="segoe">
                            <span class="segoe">Моя страница</span>
                          </a>
                      </li>

                    </ul>
              </li>
              {% else %}
              <li>
                  <a href="" class="segoe" data-toggle="modal" data-target="#login">Войти</a>
              </li>

      <!--</div>-->
          {% endif %}