{% load socialaccount %}{% get_providers as socialaccount_providers %}
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="add_catalog_modalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content" id="modal-content">
                <div class="" style="padding:10px;">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#tab-login">Войти</a></li>
      <li><a data-toggle="tab" href="#tab-reg">Зарегистрироваться</a></li>

    </ul>
                </div>
                  <div class="modal-body">


    <div class="tab-content">
      <div id="tab-login" class="tab-pane fade in active text-center">
        <h3>Вход</h3>
          <div>
              <form action="{% url 'login' %}" method="post" id="login-form">
                  {% csrf_token %}
                  <input class="form-control MonoCondensedC" type="text" name="username" placeholder="login" required><br>
                  <input class="form-control MonoCondensedC" type="password" name="password" placeholder="password" required><br>
              </form>
              <button class="btn btn-submit" form="login-form">Авторизоваться</button>
          </div>
          <hr>
          <h3>Вход через соцсети</h3>

                      {% for provider in socialaccount_providers %}
                {% if provider.id == "openid" %}
                    {% for brand in provider.get_brands %}
                      <a title="{{brand.name}}" 1 class="{{provider.id}} {{brand.id}}" href="{% provider_login_url provider.id openid=brand.openid_url process=process %}">{{brand.name}}</a>
                    {% endfor %}
                {% endif %}
                <a title="{{provider.name}}" class="{{provider.id}}" href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
                    {% for i in allauthimg %}
                        {% if i.provider.provider  == provider.id %}

                            <img src="{{i.small.url}}" alt="{{provider.name}}">

                        {%else%}
                            {{provider.name}}
                        {%endif%}
                    {%endfor%}

                </a>

            {% endfor %}




      </div>
      <div id="tab-reg" class="tab-pane fade text-center">
        <h3>Регистрация</h3>
          <div>
              <form action="{% url 'sign-up' %}" method="post" id="sign-up-form">
                  {% csrf_token %}
                  <input class="form-control MonoCondensedC" type="text" name="username" placeholder="login" required><br>
                  <input class="form-control MonoCondensedC" type="email" name="email" placeholder="email" required><br>

                  <input class="form-control MonoCondensedC" type="password" id="password" name="password" placeholder="password" required><br>
                  <input class="form-control MonoCondensedC" type="password" id="password_confirm" placeholder="confirm password" required><br>
              </form>
              <button class="btn btn-submit" form="sign-up-form">Зарегистрироваться</button>
          </div>

      </div>

    </div>
                  </div>




              </div>

            </div>
          </div>