{% extends "blog/base.html" %}
{% block grand %}
    <h1>
          <span class="title_catalog"><strong>{{object.user.username}}</strong></span>


          </h1>
    <div class="row content_body base_content" style="padding: 15px">

        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12">

        <form action="{% url 'change_account' %}" id="change_account_form" method="post">{%csrf_token%}
            <div class="form-group" >
                <input class="form-control MonoCondensedC" placeholder="username" type="text" name="username" value="{{object.user.username}}" required><br>
                <input class="form-control MonoCondensedC" placeholder="first name" type="text" name="first_name" value="{{object.user.first_name}}" required><br>
                <input class="form-control MonoCondensedC" placeholder="last name" type="text" name="last_name" value="{{object.user.last_name}}" required><br>
                <input class="form-control MonoCondensedC" placeholder="email" type="email" name="email" value="{{object.user.email}}" required><br>

            </div>
        </form>
                <button id="change_account_button" class="btn btn-submit">Сохранить</button>
            </div>
        </div>



        <hr>



    </div>
<script>

</script>

{%endblock%}