    <!-- vendor css -->
    <link href="{{STATIC_URL}}/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="{{STATIC_URL}}/lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="{{STATIC_URL}}/lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="{{STATIC_URL}}/lib/jquery-toggles/toggles-full.css" rel="stylesheet">
    <link href="{{STATIC_URL}}/lib/rickshaw/rickshaw.min.css" rel="stylesheet">

    <!-- Amanda CSS -->
    <link rel="stylesheet" href="{{STATIC_URL}}/css/amanda.css">