    <script src="{{STATIC_URL}}/lib/jquery/jquery.js"></script>
    <script src="{{STATIC_URL}}/lib/popper.js/popper.js"></script>
    <script src="{{STATIC_URL}}/lib/bootstrap/bootstrap.js"></script>
    <script src="{{STATIC_URL}}/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="{{STATIC_URL}}/lib/jquery-toggles/toggles.min.js"></script>
    <script src="{{STATIC_URL}}/lib/d3/d3.js"></script>
    <script src="{{STATIC_URL}}/lib/rickshaw/rickshaw.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyAEt_DBLTknLexNbTVwbXyq2HSf2UbRBU8"></script>
    <script src="{{STATIC_URL}}/lib/gmaps/gmaps.js"></script>
    <script src="{{STATIC_URL}}/lib/Flot/jquery.flot.js"></script>
    <script src="{{STATIC_URL}}/lib/Flot/jquery.flot.pie.js"></script>
    <script src="{{STATIC_URL}}/lib/Flot/jquery.flot.resize.js"></script>
    <script src="{{STATIC_URL}}/lib/flot-spline/jquery.flot.spline.js"></script>

    <script src="{{STATIC_URL}}/js/amanda.js"></script>
    <script src="{{STATIC_URL}}/js/ResizeSensor.js"></script>
    <script src="{{STATIC_URL}}/js/dashboard.js"></script>